<% comment.each do |comment| %>

  <div class="comment-area">

    <div class="field">
      <strong class="comment-title"><%= comment.user.name.present? ? comment.user.name : comment.user.email %></strong>
      <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
    </div>

    <div class="comment-field">
      <p class="comment-text"><%= comment.comment %></p>
    </div>

  </div>

<% end %>